[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-scoreboard
Exec=harbour-scoreboard
Name=Scoreboard
Name[fi]=Tulostaulu
Name[sv]=Resultattavla
